body {
  margin: 0;
  font-family: "Be Vietnam", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-bright-red: hsl(12, 88%, 59%);
  --primary-dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --darker-blue: hsl(233, 12%, 13%);
  --paler-red: hsl(13, 100%, 96%);
  --lighter-gray: hsl(0, 0%, 98%);
}

button {
  outline-width: 0;
  transition-duration: 0.25s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
